.TemperatureData {
    background: rgb(255, 254, 239);
    border: 2px solid black;
    border-radius: 5px;
    max-width: 1000px; /* Maksymalna szerokość elementu */
    width: 100%; /* Szerokość na 100% szerokości dostępnej przestrzeni */
    margin: 150px auto 100px auto;
    padding: 0 15px; /* Wypełnienie z lewej i prawej strony na 15px, a z góry i dołu na 0 */
    /* Dodaj tutaj inne właściwości CSS według potrzeb */
  }

  .HumidityData {
    background: rgb(255, 254, 239);
    border: 2px solid black;
    border-radius: 5px;
    max-width: 1000px; /* Maksymalna szerokość elementu */
    width: 100%; /* Szerokość na 100% szerokości dostępnej przestrzeni */
    margin: 10px auto; /* Marginesy z góry i dołu na 100px, a z lewej i prawej na auto (centrowanie) */
    padding: 0 15px; /* Wypełnienie z lewej i prawej strony na 15px, a z góry i dołu na 0 */
    /* Dodaj tutaj inne właściwości CSS według potrzeb */
}

.PressureData {
    background: rgb(255, 254, 239);
    border: 2px solid black;
    border-radius: 5px;
    max-width: 1000px; /* Maksymalna szerokość elementu */
    width: 100%; /* Szerokość na 100% szerokości dostępnej przestrzeni */
    margin: 100px auto; /* Marginesy z góry i dołu na 100px, a z lewej i prawej na auto (centrowanie) */
    padding: 0 15px; /* Wypełnienie z lewej i prawej strony na 15px, a z góry i dołu na 0 */
    /* Dodaj tutaj inne właściwości CSS według potrzeb */
}

.LuminousData {
    background: rgb(255, 254, 239);
    border: 2px solid black;
    border-radius: 5px;
    max-width: 1000px; /* Maksymalna szerokość elementu */
    width: 100%; /* Szerokość na 100% szerokości dostępnej przestrzeni */
    margin: 100px auto; /* Marginesy z góry i dołu na 100px, a z lewej i prawej na auto (centrowanie) */
    padding: 0 15px; /* Wypełnienie z lewej i prawej strony na 15px, a z góry i dołu na 0 */
    /* Dodaj tutaj inne właściwości CSS według potrzeb */
}


  