/* DataBar.css */

/* Styl wykresu */
.ApexCharts {
    font-family: 'Arial', sans-serif;
  }
  
  /* Styl osi X */
  .ApexCharts .apexcharts-xaxis-texts text {
    font-size: 12px;
    fill: #333; /* Kolor tekstu na osi X */
  }
  
  /* Styl osi Y */
  .ApexCharts .apexcharts-yaxis-labels text {
    font-size: 12px;
    fill: #333; /* Kolor tekstu na osi Y */
  }
  
  /* Styl tytułu osi X */
  .ApexCharts .apexcharts-xaxis-title {
    font-size: 14px;
    fill: #666; /* Kolor tekstu tytułu osi X */
  }
  
  /* Styl tytułu osi Y */
  .ApexCharts .apexcharts-yaxis-title {
    font-size: 14px;
    fill: #666; /* Kolor tekstu tytułu osi Y */
  }
  
  /* Styl legendy */
  .ApexCharts .apexcharts-legend-text {
    font-size: 12px;
    fill: #333; /* Kolor tekstu w legendzie */
  }
  
  /* Styl wskazówki dotyczącej punktu */
  .ApexCharts .apexcharts-tooltip {
    font-size: 12px;
    background: #fff; /* Kolor tła wskazówki */
    border: 1px solid #e0e0e0; /* Kolor obramowania wskazówki */
    color: #333; /* Kolor tekstu wskazówki */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* Cień wskazówki */
  }
  
  /* Kolor tła wykresu */
  .ApexCharts .apexcharts-canvas {
    background: #f7f7f7; /* Kolor tła wykresu */
  }
  
  /* Styl kresek w tle */
  .ApexCharts .apexcharts-grid-line {
    stroke-dasharray: 4; /* Styl linii w tle */
    stroke-opacity: 0.6; /* Przezroczystość linii w tle */
  }
  