/* Styl dla kontenera głównego */
.sensor-container {
    max-width: 1000px; /* Maksymalna szerokość elementu */
    margin: 0 auto; /* Wycentrowanie elementu na stronie */
    padding: 20px; /* Wypełnienie dla kontenera głównego */
  }
  
  /* Styl dla każdego bloku z informacjami o czujniku */
  .sensor-text {
    margin-bottom: 7px; /* Odstęp między blokami z informacjami o czujnikach */
    border: 2px ridge rgb(42, 26, 91);
    border-radius: 35px;
    padding: 1px 1px 1px 100px; /* Wypełnienie dla każdego bloku z informacjami o czujnikach */
    font-size: 10px; /* Zmniejsz rozmiar czcionki na 14 pikseli lub dostosuj do preferencji */
  }
  
  /* Styl dla nagłówka z informacjami o czujniku */
  .sensor-text-heading {
    cursor: pointer; /* Kursor zmienia się na wskaźnik, aby wskazać na klikalny obszar */
  }

.sensor-chart-bar {
    margin-top: 35px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensor-chart-radial {
    margin: auto;
    width: auto; /* Szerokość na 80% szerokości dostępnej przestrzeni */
    height: auto; /* Wysokość na 80% wysokości dostępnej przestrzeni */
    display: flex;
    justify-content: center;
    align-items: center;
}

.sensor-chart-polar {
    margin: auto;
    width: auto; /* Szerokość na 80% szerokości dostępnej przestrzeni */
    height: auto; /* Wysokość na 80% wysokości dostępnej przestrzeni */
    display: flex;
    justify-content: center;
    align-items: center;
}

